<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:150px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Hello World & Automation Logic</h1>
    <h2>Thank you for this opportunity!</h2>

    <img src="/images/Automation-logic.jpg" />

    <h3>The app is working</h3>
    <h3>hell0<h3>
  </div>
</body>
</html>
